body {
  background-color: white;
}

.jumbotron {
    background: url('https://image.shutterstock.com/image-photo/vegetables-on-wood-bio-healthy-600w-280875053.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
  }



footer {
background-color: #FDF2E9;

}

.card-v {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;


}

.btn-reserve {
  width: 100%;

}

.card {

  height: 310px;
  width: 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 3px;
}

img {

  width: 110px;
  height: 150px;

}

.principal {

  margin-left: 20px;
  margin-right: 20px;
}

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 400px;
}
